body {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.title {
    font-size: 48px;
    color: red;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 200px;
    background-color: black;
    border-color: white;
    color: white;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkred;
}

.flash-messages {
    list-style-type: none;
    padding: 0;
}

.flash-messages li {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.flash-messages .danger {
    background-color: #f44336;
    color: white;
}

.flash-messages .success {
    background-color: #4CAF50;
    color: white;
}
